/* 

NECESSARY INFO

green = #04A84B
red = #EF2727
dark grey = #545454
"white" = #f3f3f3
container = #e3e3e3

resources used:
https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website/


*/ 
 

/* top banner */

a {
    color: inherit;
    text-decoration: inherit;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(backg.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    position:sticky;
	top: 0;
}
.logo {
    width: 120px;
    cursor: pointer;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #04A84B;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #04A84B;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.content {
    width: 100%;
    position: relative;
    top: 27%;
    transform: translateY(-50%);
    text-align: center;
    color: #f3f3f3;
    justify-content: center;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #f3f3f3;
    background: transparent;
    color: #f3f3f3;
    cursor: pointer;
    position: relative;
    overflow: hidden;
} 
span {
    background: #04A84B;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}

/* actual body styling */

:root {
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.33rem;
    --size-600: 1.77rem;
    --size-700: 2.36rem;
    --size-800: 3.15rem;
    --size-900: 4.2rem;
}
body {
    background: #f3f3f3;
    color: #545454;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
body h1 {
    color: #f3f3f3;
}


:focus {
    outline: 2px dashed;
    outline-offset: 0.25rem;
}
main:focus {
    outline: none;
}
[href]:hover {
    text-decoration: none;
}  

/* standardize the font */

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #313131;
}
h1, h2 {
    font-weight: 900;
}
h1 {
    font-size: var(--size-700);
}
h2 {
    font-size: var(--size-600);
}
h3 {
    font-size: var(--size-600);
}
p {
    font-size: var(--size-400);
}

/* standardize the containers' styling */

.container {
    padding: 30px;
    color: #545454;
    width: 80%;
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    overflow: hidden;
    background-color: #e3e3e3;
    border-radius: 15px;
    line-height: 2;
}
.about {
    width: 60%;
    height: auto;
    float: right;
    overflow: hidden;
}
.leftabout {
    width: 40%;
    float: left;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

.leftabout .tony {
    max-width: 75%;
}

.header {
    padding: 30px;
    width: 100%;
    align-items: center;
    margin: auto;
    text-align: center;
    overflow: hidden;
    line-height: 2;
}

.pricingcontainer {
    text-align: center;
}

.column {
    width: 40%;
    color: #545454;
    background-color: #f3f3f3;
    border: 2px solid #545454;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    margin-bottom: 25px;
}

.container button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #545454;
    background: transparent;
    color: #545454;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.container button:hover span {
    width: 100%;
}

.container button:hover {
    border-color: #04A84B;
    color: #04A84B;
}